<section id="about">
  <div class="container">
    <div class="row align-c justify-c">
      <div class="col d-flex-centered">
        <img class="img-fluid image-shadow" src="{{ page.media['about.png'].url }}" alt="">
      </div>
    </div>
    <div class="row align-c">
      <div class="col text-c">
        <div class="content">
          {{ content|raw }}
        </div>
      </div>
    </div>
    <div class="row align-c">
        <div class="col col-12-md text-c">
          <figure class="feature">
            <img class="img-fluid" src="{{ page.media['planning-icon.svg'].url }}" alt="">
            <h2>Planung</h2>
            <figcaption><p class="subtitle">Ein gut durchdachtes Konzept ist die Basis für ein erfolgreiches Projekt.</p></figcaption>
          </figure>
        </div>
        <div class="col col-12-md text-c">
          <figure class="feature">
            <img class="img-fluid" src="{{ page.media['design-icon.svg'].url }}" alt="">
            <h2>Design</h2>
            <figcaption><p class="subtitle">In den Designschritten wird Ihrer Website ein schickes Äußeres verpasst.</p></figcaption>
          </figure>
        </div>
        <div class="col col-12-md text-c">
          <figure class="feature">
            <img class="img-fluid" src="{{ page.media['code-icon.svg'].url }}" alt="">
            <h2>Entwicklung</h2>
            <figcaption><p class="subtitle">Nach der Konzeption und Gestaltung beginnt die Programmierung.</p></figcaption>
          </figure>
        </div>
    </div>
  </div>
</section>
